.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.carousel-img {
  width: 100%;
  height: 100%;
}

.bg-image {
  background-image: url('./assets/photos/traveller-bag-mountains-isolation-1151553.jpg'); /* Немесе жергілікті жол */
  background-size: cover;
  background-position: center;
  height: 100vh;
  filter: brightness(50%);
}

.header{
  filter: blur(10px);
}

.label-card{
  
}